.App {
  min-height: 100vh;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: black;
}

.Button {
  padding: 10px 14px;
  display: flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  background-color: var(--accent-color);
  color: var(--dark-text-color);
  border-radius: var(--radius);
  font-size: 16px;
  font-family: 'Kumbh Sans';
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: .2s;
}

.Button svg {
  margin-inline: -6px;
}

.Button.alt {
  background-color: hsl(0, 0%, 14%);
  color: var(--text-color);
}

.Button.alt:hover {
  background-color: hsl(0, 0%, 18%);
  color: var(--accent-color);
  box-shadow: var(--shadow);
}

.Button.alt:active,
.Button:active {
  transform: scale(0.9);
}

.Visualizer {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  transition: opacity 0.3s;
}

.Visualizer.exiting,
.Visualizer.exited {
  opacity: 0;
  pointer-events: none;
}

.Visualizer img {
  height: 95vh;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}
