.Preview {
  min-width: 900px;
  max-width: 900px;
  display: grid;
  grid-template-columns: 290px 1fr;
  font-family: 'Work Sans';
}

header {
  width: 100%;
  grid-column: 1 / 3;
  background-color: white;
  color: var(--dark-text-color);
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  text-align: center;
}

header h1,
header h2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  height: 170px;
  gap: 40px;
  font-size: 46px;
  font-weight: 300;
  letter-spacing: 14px;
}

header .firstName {
  font-weight: 500;
}

header h2 {
  height: 50px;
  background-color: #e7e8ea;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 3px;
}

.Sidebar {
  padding: 45px 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--bg-color);
  color: var(--text-color);
  border-bottom-left-radius: var(--radius);
}

section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

section h3 {
  margin-bottom: 16px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 5px;
}

section.Education h3 {
  margin-bottom: 12px;
}

section.Skills {
  margin: 0;
}

.Detail {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  word-break: break-all;
}

.Detail span,
.Detail svg {
  color: white;
}

.Detail span {
  margin-inline: 2px 4px;
  transform: scale(1.6);
}

.ExperienceItem {
  display: flex;
  flex-direction: column;
}

.ExperienceItem>* {
  line-height: 1.65;
}

.ExperienceItem h4 {
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.ExperienceItem h5 {
  font-weight: 400;
}

.ExperienceItem span {
  display: inline;
}

.ExperienceItem p {
  font-size: 14px;
}
